amqp==5.1.1
aniso8601==9.0.1
anyio==3.6.1
async-timeout==4.0.2
asyncio==3.4.3
beanie==1.11.6
billiard==3.6.4.0
celery==5.2.7
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.5
cycler==0.11.0
Deprecated==1.2.13
et-xmlfile==1.1.0
fastapi==0.79.0
flower==1.1.0
fonttools==4.34.4
graphene==3.1
graphql-core==3.2.1
graphql-relay==3.2.0
h11==0.13.0
humanize==4.2.3
idna==3.3
kiwisolver==1.4.3
kombu==5.2.4
matplotlib==3.5.2
motor==3.0.0
multidict==6.0.2
neo4j==4.4.5
numpy==1.23.1
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
pydantic==1.9.1
pymongo==4.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2022.1
redis==4.3.4
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
starlette-graphene3==0.6.0
toml==0.10.2
tornado==6.2
typing_extensions==4.3.0
uvicorn==0.18.2
vine==5.0.0
wcwidth==0.2.5
wrapt==1.14.1
yarl==1.7.2
